
@media only screen and (max-width: 600px){
    section {
        width: 100%;
        height: 100vh;
    }
}

html {
    margin: 0;
    padding: 0;
    font: arial;
}

section {
    width: 100%;
    height: 100vh;
}

#main-page {
    align-items: center;
    text-align: center;
    padding-top: 18%;
}


.other-page {
    align-items: center;
    text-align: center;
}

.other-page h2 {
    text-decoration: underline;
}

#project-display{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card {
    width: 18rem;
}

footer, p {
    text-align: center;
}

#desc-text {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}